a{
    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

#div{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

#centro{
    padding-top: 35px;
}

#infoBox{
    display: flex;
}

#ButtonVRDiv{
    width: 100px;
    height: 50px;
    filter: brightness(0) invert(1);
    margin: auto;
}

body{
    background-color: #F5F5F5;
}

header{
    background-color: #FFFF;
    width: 100%;
    height: 9%;
    margin-bottom: 10px;
    position: fixed;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.6);
}
.container{
display: flex;
justify-content: space-between;
padding: 15px;
}

.anuncios{
    padding-top: 50px;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
    width: 87px;
    height: 35px;
    border-radius: 17.5px;
    padding: 2px;
}
.size_logo{
    width: 53px;
    height: 28px;
}
.icon_await{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 36px;
    border-radius: 18px;
}
.icon_select{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#6D0AD6;
    width: 46px;
    height: 36px;
    border-radius: 18px;
}
.size_icon{
    max-width: 25px;
    max-height: 25px;
}
.local{
    font-weight: 300;
    color: #616161;
    font-size: 14px;
    line-height: 17px;
    padding: 20px;
}
.list_anuncio{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.list_anuncio ul{
    list-style: none;
}
.anuncio{
    display: flex;
    flex-direction: column;
    width: 334px;
    height: 350px;
    border: 1px solid #DFDFDF;
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 50px;
}
.anuncio_casa{
    padding: 0;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

    width: 100%;
}
.anuncio_tipo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 10px;
}
.tipo{
    font-weight: 400;
    color: #616161;
    font-size: 12px;
    line-height: 14px;
}
.valor{
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    padding-left: 15px;
    color:#404040;
}
.descriçao{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding-left: 15px;
    padding-top: 5px;
    color: #616161;
}
.anuncio_local{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}
.size_gps{
    color: #8431DD;
    width: 20px;
    height: 24px;
}
.line{
    content: "";
    width: 334px;
    height: 1px;
    background-color: #D9D9D9;
}
footer{
    background-color: white;
    width: 100%;
    height: 100%;
    top: 92%;
    bottom: 0;
    position: fixed;
}
footer img{
    max-width: 30px;
}

.footer_list{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
.footer_list li h2{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #848484;
}

.infoAnuncio{
    background-color: red;
    width: 75%;
    padding: 15px;
}

.tipoAnuncio{
    font-weight: 200;
    color: rgb(172, 172, 172);
}

.VRDIV{
    width: 100px;
    height: 80%;
    border-radius: 50px 0px 0px 50px;
    width: 25%;
    display: flex;
    padding: auto;
    background-color: #8431DD;
    float: right;
}