a{
    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

#div{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
}

#centro{
    padding-top: 35px;
}

#infoBox{
    display: flex;
}

#ButtonVRDiv{
    height: 50px;
    filter: brightness(0) invert(1);
    margin: auto;
}

body{
    background-color: #F5F5F5;
}

header{
    background-color: #FFFF;
    width: 100%;
    height: 9%;
    margin-bottom: 10px;
    position: fixed;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.6);
}
.container{
display: flex;
justify-content: space-between;
padding: 15px;
}


.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
    width: 87px;
    height: 35px;
    border-radius: 17.5px;
    padding: 2px;
}

.size_logo{
    width: 53px;
    height: 28px;
}
.icon_await{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 36px;
    border-radius: 18px;
}
.icon_select{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#6D0AD6;
    width: 46px;
    height: 36px;
    border-radius: 18px;
}

.size_icon{
    max-width: 25px;
    max-height: 25px;
}

footer{
    background-color: white;
    width: 100%;
    height: 100%;
    top: 93%;
    bottom: 0;
    position: fixed;
}
footer img{
    max-width: 30px;
}

.footer_list{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.infoAnuncio{
    width: 75%;
    padding: 15px;
}

.tipoAnuncio{
    font-weight: 200;
    color: rgb(172, 172, 172);
}

.VRDIV{
    border-radius: 50px 0px 0px 50px;
    width: 25%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    background-color: #8431DD;
    float: right;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.6);
}

.linhazinha{
    border: none;
    height: 1px;
    background-color: rgb(131, 131, 131); /* Modern Browsers */
}

.anuncioData{
    height: 20px;
}

.anuncioData h3{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 11px;
}